.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px;
  border-color: #888;
  border-style: solid;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  line-height: 24px;
  width: 200px;
}

.logout {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
}

.boldText {
  font-weight: bold;
}
